.join__meetup {
  margin-top: 92px;
  padding: 36px 56px;
  background-color: rgba(151, 202, 209, 0.0784313725);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.join__meetup__container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.join__meetup__container h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.3;
}

.join__meetup__container p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.join__meetup__container button {
  width: 192px;
  height: 40px;
  background-color: #e32359;
  color: #ffffff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  transition: transform 0.2s ease;
}

.join__meetup__container button:hover {
  background-color: rgba(206, 13, 67, 0.9);
  transform: scale(0.95);
}

.join__meetup__picture {
  display: none;
}


/* медиа! */

@media (max-width: 992px) {
  .join__meetup {
    margin-top: 60px;
  }

  .join__meetup__container p {
    font-size: 12px;
  }

  .join__meetup__container button {
    width: 175px;
    height: 40px;
    background-color: #e32359;
    color: #ffffff;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
  }

  .join__meetup__container button:hover {
    background-color: rgba(227, 35, 89, 0.9);
  }


  .join__meetup__container h2 {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .join__meetup {
    flex-direction: column-reverse;
    gap: 40px;
  }
}

@media (max-width: 576px) {
  .join__meetup {
    gap: 22px;
    padding: 15px;
  }

  .join__meetup img {
    max-width: 238px;
    order: 1;
  }

  .join__meetup__picture {
    display: block;
    order: 2;
    align-self: flex-start;
  }

  .join__meetup__container {
    order: 0;
  }

  .join__meetup__container h2 {
    display: none;
  }

  .join__meetup__container button {
    align-self: center;
    width: 192px;
    height: 40px;
    margin-top: 10px;
  }

  .join__meetup__container h2 {
    font-size: 20px;
  }
}